*{
    margin:3;
    padding:2;
    font-family:'Times New Roman', sans-serif;    
}

.Contenedor{
    border: solid lpx black;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
    overflow:hidden;
}

.Cabecera{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 400px;
}

.cabecera_h1{
    position: absolute;
    top: 45px;
    left: 190px;
}

.cabecera_frase {
    position: absolute;
    top: 80px;
    left: 190px;
}
